source https://nuget.org/api/v2

nuget FsPickler 1.2.21
nuget FsPickler.Json 1.2.21
nuget Vagabond 0.7.9
nuget FsUnit >= 1.3.0.1
nuget NUnit >= 2.6.3
nuget NUnit.Runners
nuget Thespian.Core 0.1.4-alpha
nuget FSharp.Core
nuget FsCheck >= 2.0.1
nuget Unquote >= 2.2.2
nuget Streams 0.3.0
nuget Streams.CSharp 0.3.0
nuget NuGet.CommandLine
nuget FAKE