source https://api.nuget.org/v3/index.json
framework: auto-detect
lowest_matching: true
storage: none

nuget FSharp.Core >= 4.3.2
nuget FsPickler >= 5.3.1
nuget FsPickler.Json >= 5.3.1
nuget Vagabond >= 0.16.0
nuget Argu >= 6.0
nuget Thespian >= 0.2.0
nuget Streams >= 0.5.0
nuget System.Management >= 4.7.0
nuget System.Runtime.Caching >= 4.7.0
nuget System.Diagnostics.PerformanceCounter >= 4.7.0

group Test
  source https://api.nuget.org/v3/index.json
  framework: netcoreapp3.1, net472
  storage: none

  nuget FSharp.Core ~> 4.7
  nuget NUnit ~> 3.12
  nuget NUnit3TestAdapter ~> 3.16
  nuget Microsoft.Net.Test.SDK ~> 16.4.0
  nuget FSharp.Compiler.Service ~> 34.0
  nuget FsCheck ~> 2.14
  nuget Unquote ~> 5.0
  nuget Streams.CSharp >= 0.5.0

group Fsi
  source https://api.nuget.org/v3/index.json
  framework: netstandard2.0

  nuget FSharp.Data ~> 3.1.1
  nuget LinqOptimizer.FSharp ~> 0.7.0
  nuget MathNet.Numerics ~> 4.9.0
  nuget MathNet.Numerics.FSharp ~> 4.9.0
  nuget MathNet.Numerics.MKL.Win-x64 ~> 2.3.0

group Build
  framework: net472
  redirects: on
  source https://api.nuget.org/v3/index.json

  nuget FAKE ~> 5.0
  github fsharp/FAKE modules/Octokit/Octokit.fsx
