type project
id MBrace.Tests
description
    A collection of abstract NUnit-based test suites for evaluating
    MBrace runtime implementations.
authors
    Eirik Tsarpalis, Nick Palladinos, Kostas Rontogiannis
copyright
    Copyright 2015
summary
    A collection of abstract NUnit-based test suites for evaluating
    MBrace runtime implementations.
licenseurl https://github.com/mbraceproject/MBrace.Core/blob/master/License.md
projecturl http://www.m-brace.net/
iconurl https://avatars2.githubusercontent.com/u/9674757
tags
    F#, cloud, mapreduce, distributed
dependencies
    MBrace.Core CURRENTVERSION
    MBrace.Flow CURRENTVERSION
references
	MBrace.Core.Tests.dll
	MBrace.Flow.Tests.dll
files
	../../bin/MBrace.Flow.Tests.dll ==> lib/net45
	../../bin/MBrace.Flow.Tests.xml ==> lib/net45
	../../bin/MBrace.Flow.Tests.pdb ==> lib/net45