<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Hostname or IP address to listen to. Defaults to domain name. : string -->
    <!--<add key="hostname" value="127.0.0.1" />-->
    <!-- Port for thespian to listen to. Defaults to self-assigned. : int -->
    <!--<add key="port" value="2753" />-->
    <!-- Sets a working directory for worker caching. Defaults to system temp folder. : string -->
    <!--<add key="working directory" value="/tmp/" />-->
    <!-- Specify a log file for node logging purposes. : string -->
    <add key="log file" value="log.txt" />
    <!-- Enables or disables AppDomain isolation in worker node. Defaults to true. : bool -->
    <add key="use appdomain isolation" value="true" />
    <!-- Specify the log level: 0 none, 1 critical, 2 error, 3 warning, 4 info, 5 debug. : int -->
    <add key="log level" value="4" />
    <!-- Maximum number of concurrent MBrace jobs. Defaults to 20. : int -->
    <add key="max concurrent work items" value="20" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.13283" newVersion="2.6.3.13283" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>