<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Hostname or IP address to listen to. Defaults to domain name. : string -->
    <!--<add key="hostname" value="127.0.0.1" />-->
    <!-- Port for thespian to listen to. Defaults to self-assigned. : int -->
    <!--<add key="port" value="2753" />-->
    <!-- Sets a working directory for worker caching. Defaults to system temp folder. : string -->
    <!--<add key="working directory" value="/tmp/" />-->

    <!-- Specify a log file for node logging purposes. : string -->
    <add key="log file" value="log.txt" />
    <!-- Enables or disables AppDomain isolation in worker node. Defaults to true. : bool -->
    <add key="use appdomain isolation" value="true" />
    <!-- Specify the log level: 0 none, 1 critical, 2 error, 3 warning, 4 info, 5 debug. : int -->
    <add key="log level" value="4" />
    <!-- Maximum number of concurrent MBrace work items. Defaults to 20. : int -->
    <add key="max concurrent work items" value="20" />
    <!-- Interval in seconds in which log entries are to be persisted in global store. : float -->
    <add key="max log write interval" value="2" />
  </appSettings>
</configuration>