<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Hostname or IP address to listen to. Defaults to domain name. : string -->
    <!--<add key="hostname" value="127.0.0.1" />-->
    <!-- Port for thespian to listen to. Defaults to self-assigned. : int -->
    <!--<add key="port" value="2753" />-->
    <!-- Sets a working directory for worker caching. Defaults to system temp folder. : string -->
    <!--<add key="working directory" value="/tmp/" />-->

    <!-- Specify a log file for node logging purposes. : string -->
    <add key="log file" value="log.txt" />
    <!-- Enables or disables AppDomain isolation in worker node. Defaults to true. : bool -->
    <add key="use appdomain isolation" value="true" />
    <!-- Specify the log level: 0 none, 1 critical, 2 error, 3 warning, 4 info, 5 debug. : int -->
    <add key="log level" value="4" />
    <!-- Maximum number of concurrent MBrace work items. Defaults to 20. : int -->
    <add key="max concurrent work items" value="20" />
    <!-- Interval in seconds in which log entries are to be persisted in global store. : float -->
    <add key="max log write interval" value="2" />
  </appSettings>
  <runtime>
    
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <assemblyIdentity name="System.Net.Http.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="2.2.29.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="4.2.29.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.4.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Mono.Cecil" publicKeyToken="50cebf1cceb9d05e" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="0.11.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="12.0.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>